*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.map{
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

label {
    display: inline-block;
    width: 50px;
    text-align: left;
}

.form{
    margin: 0 auto;
    width: 250px;
}


#selectLocationButton{
    display: inline-block;
    position: absolute;
    background-color: #1d90cf;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 52px;
    cursor: pointer;
}

#addButton{
    position: relative;
    background-color: #1d90cf;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 52px;
    cursor: pointer;
}

/*
.ol-zoom-in{
    position: absolute;
}
.ol-zoom-out{
    position: absolute;
}

.ol-control button {
    display: block;
    margin: 1px;
    margin-top: 100px;
    padding: 0;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: inherit;
    text-align: center;
    height: 1.375em;
    width: 1.375em;
    line-height: .4em;
    background-color: rgba(0,60,136,.5);
    border: none;
    border-radius: 2px;
}

*/